header(class="masthead bg-primary text-white text-center")
    
    <div class="container d-flex align-items-center flex-column">
      <img class="masthead-avatar mb-5" src="https://blackrockdigital.github.io/startbootstrap-freelancer/img/avataaars.svg" alt="">
      <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
      
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"> 
          <i class="fa fa-star"></i>
        </div>
        <div class="divider-custom-line">   
      </div>
    </div>
    <div class="row justify-content-center py-4">
      <h5 class="font-weight-bold text-white">Graphic Artist - Web Designer - Illustrator</h5>
    </div>
 
    