
header(class="masthead bg-primary text-white text-center")
    div(class="container d-flex align-items-center flex-column")
        img(src="https://blackrockdigital.github.io/startbootstrap-freelancer/img/avataaars.svg", class = "masthead-avatar mb-5" alt)
        h1(class="text-white font-weight-bolder text-uppercase mb-0") Start Bootstrap

        div(class="divider-custom divider-light")
              div(class="divider-custom-line")
              div(class="divider-custom-icon")  
                i(class="fa fa-star")
              div(class="divider-custom-line")    
        div(class="row justify-content-center py-4")
            h5(class="font-weight-bold text-white") Graphic Artist - Web Designer - Illustrator
